.HEAD{
    font-size:35px;
    font-family: Arial;
padding-left: 20px;
    color: rgb(187, 96, 96);
   float: left;
   padding-top: 10px;
    margin: 0px
    
}
body{
    background: linear-gradient(to top,rgb(0,0,0,0.5)50% ,rgb(0,0,0,0.5)50%);
    background-image: url("pexels-jplenio-1102909.jpg") ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    
}
.man {
    height: 40px;
    font-size: 20px;
    color: rgb(211, 237, 12);
    margin-top: 40px;
    margin-left: 1400px;
}
.man1 {
    height: 40px;
    font-size: 20px;
    color: rgb(211, 237, 12);
    
    margin-left: 1400px;
}
.menu{
    width: 400px;
    float:left;
    height: 80px;
}
ul{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;

}
men{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
}

srch{
    display: flex;
    justify-content: center;
    align-items: center;
   

  
}
input{
   border: 2px solid #84606051;
   background-color: rgb(245, 151, 9);
   color: rgb(10, 13, 13);
   margin-left: 400px;
   float: left;
   
}
.ss{
    color: #5a4e4e;
    background-color:rgb(245, 151, 9);
}


